<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../../assets/pablo-img.jpg" class="d-block mx-lg-auto img-fluid personal-img" alt="Bootstrap Themes" width="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Pablo Miguel Córdoba</h1>
		    <p class="lead">Tengo 21 años, vivo en Lanús, Buenos Aires</p>


        <div class="d-flex gap-3 mb-3">
          <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://github.com/Pablo-22"> Github </a>
        
          <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://www.linkedin.com/in/pablo-cordoba/"> LinkedIn </a>
        </div>
        

        <p class="lead">Me dedico a la gestión de proyectos de software en Bromus, una empresa que brinda servicios de Software Factory a clientes del sector industrial.</p>
		
        <br>

        <h2 class="display-7 lh-1 mb-3">El juego que desarrollé...</h2>
        <p class="lead">El juego que desarrollé es el clásico juego del Pong, uno de los primeros juegos de computadora jamás creados, adaptado a la tecnología Angular, utilizando únicamente elementos div, CSS y Typescript para su implementación.
        <br/> <br/>
        Este juego simple presenta dos barras y una pelota, y se juega de a dos jugadores. Un jugador obtiene un punto cada vez que el oponente pierde una pelota. Para mover las barras, se utilizan las teclas <kbd>Q</kbd> y <kbd>A</kbd> para el jugador uno y las teclas <kbd>O</kbd> y <kbd>L</kbd> para el jugador dos </p>
      </div>
    </div>
  </div>