<div class="px-4 pt-5 my-5 text-center border-bottom">
	
   <h1 class="display-4 fw-bold text-primary"> <fa-icon icon="gamepad"></fa-icon> Sala de Juegos </h1>
   
   <h2 class="display-7 text-secondary">¡Te doy la bienvenida!</h2>
   <div class="col-lg-6 mx-auto">
      <br>
      <p class="lead mb-4">Esta web consiste en una una aplicación de juegos que permite a los usuarios medir sus capacidades cognitivas y motrices, simple de utilizar y que permite tener estadísticas de cada jugador y de cada juego. 
		
		<br> <br>

      Pertenece al trabajo práctico número uno de la materia Laboratorio IV de la carrera Tecnicatura Superior en Programación de la UTN Facultad Regional de Avellaneda.
		</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
	   </div>
   </div>

   <div class="overflow-hidden" style="max-height: 30vh;"></div>
</div>

<div class="container">
   <div class="row">
      <div class="jumbotron col">
         <h1 class="display-4">Ahorcado</h1>
         <p class="lead">El clásico juego del ahorcado. Intentá adivinar la palabra con la menor cantidad de intentos posible.</p>
         <hr class="my-4">
         <p>Utilizá los botones en pantalla para seleccionar las letras.</p>
         <p class="lead">
           <a class="btn btn-primary btn-lg" routerLink="games/hangman" role="button">Jugar</a>
         </p>
      </div>

      <div class="jumbotron col">
         <h1 class="display-4">Mayor o menor</h1>
         <p class="lead">¿Podrás adivinar si la próxima carta será mayor o menor? ¿Cuál será tu puntaje máximo?</p>
         <hr class="my-4">
         <p>Utilizá los botones en pantalla para seleccionar si la próxima carta será mayor o menor a la actual.</p>
         <p class="lead">
           <a class="btn btn-primary btn-lg" routerLink="games/higher-or-lower" role="button">Jugar</a>
         </p>
      </div>

      <div class="jumbotron col">
         <h1 class="display-4">Hello, world!</h1>
         <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
         <hr class="my-4">
         <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
         <p class="lead">
           <a class="btn btn-primary btn-lg" href="#" role="button">Jugar</a>
         </p>
      </div>
   </div>
   
</div>
