.full-container{
	width: 100vw;
	position: fixed;
}

.game-container {
	background-color: rgb(225, 225, 225);
	position:relative;
	width: 40vw;
	height: 60vh;
	margin-top: 1rem;
	margin-inline: auto;
}

#ball{
	width: 30px;
	height: 30px;
	background: #c95f5f;
	background: #000;
	position:absolute;
	left:10px;
	top:0px;
	border: 2px solid #fff;
	border-radius: 20px;
}

.bar{
	width: 30px;
	height: 100px;
	background: #000;
	border: 2px solid #fff;
}

#bar1{
	top: 20px;
	float: left; 
	position: absolute;
}
#bar2{
	top: 20px;
	right:0px;
	position: absolute;
}

#line{
	width:10px;
	border-right: #fff dashed 5px;
	height: 60vh;
	margin: auto;
}